body {
    font-family: 'Roboto Mono', monospace;
}

.container {
    padding: 20px;
    margin: 15px;
}

.column1 {
    width: 70%;
    float: left;
    margin: 10px;
    padding: 5px;
}
.column2 {
    width: 30%;
    float: left;
    margin: 10px;
    padding: 5px;
}
.my_footer {
    float:none;
    margin: 10px;
    padding: 5px;
}
.changed {
    color: blueviolet;
}