<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .home_page_body {
            padding: 15px;
            margin: 15px;
<!--            font-family: 'Bree Serif', serif;-->
        }
        .my_block {
            width:200px;
            height:100px;
            border-collapse: collapse;
            border: 1px solid green;
        }
    </style>
    <title>Rest Template Data</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
<!--          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../../css/main.css">
<!--    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body class="home_page_body">

<!--<div th:replace="/common/navbar :: navbar"/>-->

<section class="section">

    <div class="container">

        <th:block th:each="cat : ${catsFromUrl}">

            <div class="my_block">
                <p th:text="${cat.name}"></p>
                <p th:text="${cat.age}"></p>
                <p th:text="${cat.color}"></p>
            </div>

        </th:block>

    </div>

    <div>
        <p th:text="'Id= ' + ${catFromUrl.id}"></p>
        <p th:text="'Name= ' + ${catFromUrl.name}"></p>
        <p th:text="'Age= ' + ${catFromUrl.age}"></p>
    </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

	$(document).ready(function() {

	    $.ajax({
	        url: "http://localhost:8080/api/v1/cats/1"
	    }).then(function(data) {
	       $('.cat-id').append(data.id);
	       $('.cat-name').append(data.name);
	       $('.cat-color').append(data.movie);
        });

	    $('.delete').on('click', function(){
	        $('.my_block').remove();
	    });

    });
</script>

<script>

    // for (car i=0; i < $catsFromUrl.size(); i++) {
    //     $(document).ready(function() {
    //         $('#table-data').append('<tr><td>
    //                 <p th:text="${catFromUrl.name}"></p>
    //             </td></tr>');
    //     }
    // }

</script>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

</body>
</html>